.screen-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Makes sidenav full screen */
.sidenav-container {
    flex: 2;
    min-width: 250px;
}

.page-container {
    height: 100%;
}

.toolbar-button {
    margin: 5px;
}

.toolbar-spacer {
    flex: 1 auto;
}

.content-container {
    padding: 20px;
    flex: 2;
    align-items: center;
    justify-items: center;
}

.sidenav-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}